
<md-card class="map-card">
  <button md-raised-button *ngIf="!formShowing" (click)="toggleForm()">Add new event</button>
  <button md-raised-button *ngIf="formShowing" (click)="toggleForm()">Hide form</button>
  <pa-new-event-form *ngIf="formShowing" (saveClick)="savedNewEvent()"></pa-new-event-form>
  <span *ngIf="!formShowing">
    <pa-search-box (change)="searchTerm = $event"></pa-search-box>
    <pa-tag-filter-picker (setTag)="selectedTag = $event" [selected]="selectedTag"></pa-tag-filter-picker>
    <pa-event-list
      [events]="events"
      [selectedTag]="selectedTag"
      [searchTerm]="searchTerm"
      (onSelected)="centerMapOnEvent($event)"
    ></pa-event-list>
  </span>
</md-card>
<sebm-google-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="true"
  (mapClick)="mapClicked($event)">


  <sebm-google-map-marker
    *ngFor="let place of places; let i = index"
    (markerClick)="clickedMarker(place.name, i)"
    [latitude]="getPlaceLat(place)"
    [longitude]="getPlaceLng(place)"
    [label]="place.attributes.name"
    [markerDraggable]="false">
    <sebm-google-map-info-window [disableAutoPan]="false">
      <h3>{{ place.attributes.name}} has these events:</h3>
      <p *ngIf="place.relationships.events.data.length === 0"><strong>No events saved for this place yet.</strong></p>
      <span *ngFor="let e of getEventsOnPlace(place)">
        <h4>Name: {{ e.attributes.name }}</h4>
        <p>Description: {{ e.attributes.description }}</p>
        <p>Date: {{ e.attributes.date | date}}</p>
        <button *ngIf="checkIfCurrentUsers(e)" (click)="deleteEvent(e)">Delete</button>
        <span *ngIf="eventHasTag(e)">
          <p><strong>Tag:</strong></p>
          <ul>
            <li
              *ngFor="let t of getEventTags(e)">
              {{t.attributes.name}}
            </li>
          </ul>
        </span>
        <hr />
      </span>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

</sebm-google-map>
