
<md-card class="map-card">
  <tag-filter-picker (setTag)="selectedTag = $event" [selected]="selectedTag"></tag-filter-picker>
  <md-nav-list dense>
    <md-list-item *ngFor="let e of events | tagFilter : selectedTag" (click)="centerMapOnEvent(e)" >
      <p md-line>{{e.attributes.name}}</p>
    </md-list-item>
  </md-nav-list>
</md-card>
<sebm-google-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="true"
  (mapClick)="mapClicked($event)">


  <sebm-google-map-marker
    *ngFor="let e of events | tagFilter : selectedTag; let i = index"
    (markerClick)="clickedMarker(e.name, i)"
    [latitude]="getEventLat(e)"
    [longitude]="getEventLng(e)"
    [label]="e.attributes.name"
    [markerDraggable]="false"
    (dragEnd)="markerDragEnd(e, $event)">
    <sebm-google-map-info-window [disableAutoPan]="false">
      <h4>{{ e.attributes.name }}</h4>
      <p>{{ e.attributes.description }}</p>
      <p><strong>Tags:</strong></p>
      <ul>
        <li
          *ngFor="let t of getEventTags(e)">
          {{t.attributes.name}}
        </li>
      </ul>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

</sebm-google-map>
