<md-card-title>New event</md-card-title>
<md-card-content>
  <form [formGroup]="eventForm" (submit)="saveEvent($event)">
    <md-input class="event-input" [formControl]="name" type="text" minLength="5" placeholder="Name" ></md-input>
    <md-input class="event-input" [formControl]="description" type="text" minLength="10" placeholder="Description" ></md-input>
    <label for="date-input">Date:</label>
    <md-input name="date-input" class="event-input" [formControl]="date" type="date" ></md-input>
    <!--<md-input class="event-input" [formControl]="place_id" type="text" placeholder="Place" ></md-input>-->
    <label for="place-select">Select location:</label> <br />
    <select name="place-select" [formControl]="place_id">
      <option value="" disabled selected>Select</option>
      <option *ngFor="let place of places" [value]="place.id">{{place.attributes.name}}</option>
    </select>
    <br />
    <label for="tagsSelect">Select tag:</label> <br />
    <select name="tagsSelect" [formControl]="tagsForm">
      <option value="" disabled selected>Select</option>
      <option *ngFor="let tag of tags" [value]="tag.id">{{tag.attributes.name}}</option>
    </select>
    <br />
    <button md-raised-button type="button" [disabled]="eventForm.pristine" (click)="clearForm()">Clear</button>
    <button md-raised-button type="submit" [disabled]="!eventForm.valid" >Save</button>

  </form>
  </md-card-content>
