<md-layout>

  <md-toolbar color="primary">
    <span>PlacesApp</span>

    <span class="demo-fill-remaining"></span>
    <a md-button href="#" [routerLink]="['dashboard']">Dashboard</a>
    <a md-button href="" *ngIf="auth.authenticated()" [routerLink]="['map']">Map</a>
    <a md-button href="" *ngIf="auth.authenticated()" [routerLink]="['tags']">Tags</a>
    <a md-button href="" *ngIf="auth.authenticated()" [routerLink]="['places']">Places</a>
    <a md-button *ngIf="!auth.authenticated()" [routerLink]="['login']">Login</a>
    <a md-button *ngIf="auth.authenticated()" (click)="auth.logout()">Logout</a>

  </md-toolbar>
  <pa-flash-message></pa-flash-message>

  <router-outlet></router-outlet>
</md-layout>
