<md-content>

  <md-toolbar color="primary">
    <span>PlacesApp</span>

    <span class="demo-fill-remaining"></span>
    <a md-button href="#" [routerLink]="['Dashboard']">Dashboard</a>
    <a md-button href="" [routerLink]="['About']">About</a>
    <a md-button href="" *ngIf="auth.authenticated()" [routerLink]="['Map']">Map</a>
    <a md-button *ngIf="!auth.authenticated()" [routerLink]="['Login']">Login</a>
    <a md-button *ngIf="auth.authenticated()" (click)="auth.logout()">Logout</a>

  </md-toolbar>

  <router-outlet></router-outlet>
  </md-content>
